.PLogin{
    font-size: 18px;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg{
    background-image: url(../Images/ERP.jpg);
    background-position: center center;
    background-size: cover;
    /*background-size: contain;*/
}
.bgf{
    background-color: rgba(0, 0, 0, 0.229);
}
h1{
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form1{
    color:rgb(0, 0, 0);
    font-weight: bolder;
   
}

.RadioRol{
    font-weight:normal;

}

h2{
    align-items: center;
    text-align: center;

}

textarea{
    font-family: inherit;
    resize: none;
}
.error{
    font-weight: bold;
    color: rgb(255, 183, 0);
}